@charset "utf-8";
/*
 * 问问触屏版问题详情页样式
 * 创建：clareli 
 * 维护：clareli
 */
 
.hidden{ display: none;}
/* reset */
a{text-decoration:none;color:#0066cc;outline:0;}
body{ /*background-color:#ececec;*/ -webkit-tap-highlight-color: rgba(0,0,0,0); color:#666; font-size:15px;}
.icoUrgent,
.icoScore{ vertical-align: middle; margin:0px; font-style:normal;}

/* clearfix */
.category_tab ul::after,
.title_wrap::after,
.set_item_list::after,
.set_category_wrap::after,
.add_keyword_wrap::after,
.btn_filter::after,
.sub_title_wrap::after
{content:"\200B";display:block;height:0;clear:both;}

/* background-image */
.title_wrap .category_title::after,
.selected::before,
/*.content_source .phone::before,*/
.content_detail .phone::before,

.category_list > li a::after,
.category_sub_list > li a::after,
.category_list .selected::after,
.btn_set::after,
.btn_filter::before,
.category_wrap::after,
.adept_at h2::before,

.default_wrap .index::before,
.load_more::after
{background: url(http://cache.soso.com/mobile/wenwen/img/sgww_category_s_20140611.png) no-repeat;background-size:65px 40px;}

.category_list > li a::before
{ background: url(http://cache.soso.com/mobile/wenwen/img/sgww_category_icon20140612.png) no-repeat; background-size:375px 20px;}

/*reset*/
.default_wrap{ text-align: center; line-height:43px; font-size:18px; color:#3e3e3e;}


/* 浮层 */
.mask{ display:none; position:absolute;top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.8); }
.option_layer{ display:none; position:absolute; left:50%; top:20%; margin-left:-123px;  width:240px; height:123px; background-color:#ced7e1; border:4px solid #fff; border-radius:5px; z-index:100;}
.option_layer .main_tip{ margin:25px 0 0px; text-align: center; color:#282828;}
.option_layer .btn_wrap{ text-align: center; margin-top:20px;}
.option_layer .btn_wrap a{ display:inline-block; width:80px; height:35px; line-height:35px; text-align: center; font-size:14px; color:#fff; border-radius:3px; }
.btn_wrap .btn_cancel{ background-color:#84add7; margin-right:10px;}
.btn_wrap .btn_confirm{ background-color:#5295d8; margin-left:10px;}

/*分类*/
.category_tab{ height:40px; }
.category_tab ul{}
.category_tab li{float: left; width:33.3%;line-height:40px;}
.category_tab li a{ display: block; margin:5px auto; width:70px; height:28px; text-align: center; color:#373737;line-height:28px;}
.category_tab li .current{ border-radius:30px; background-color:#cbe6ff; }

.title_wrap{ padding-left:15px; line-height:33px; background-color:#f6f6f6; margin-top: -10px;}
.category_list_wrap .title_wrap{ margin-top: 0}
.title_wrap .category_title{float: left; height:33px; font-size:14px; }
.title_wrap .category_title::before{ float: left; display: block; content:" "; margin:10px 5px 0 0; width:4px; height:12px; background-color:#5295d9;}
.title_wrap .category_title::after{ display:inline-block; content:" "; margin-left:5px; vertical-align:2px; width:9px; height:5px; background-position:0 0; }
.title_wrap .category_title a{ display: block; padding-right:10px;}

.filter_wrap{ float: right; position:relative;}

.btn_set,
.btn_filter{ /*display:inline-block; */margin-top:6px; padding:0 3px; /*width:28px;*/ min-height:18px; line-height:18px; background-color:#fff; border-radius:3px; text-align: center;  /* width:70px;*/}

.btn_set::after{display:inline-block; content:" "; width:12px; height:12px; background-position:0 -20px; margin:3px auto;}

.btn_filter::before{float:left; display:block; content:" "; width:15px; height:10px; background-position:-15px -20px; margin:3px auto;}

.filter_wrap .btn_filter{ float: right; margin:8px 37px 0 0; font-size:12px;}
.filter_wrap .open_list{ width:54px; margin-right:15px;}

.filter_wrap .btn_set{ float: right; margin:8px 15px 0 0;}

.set_wrap .btn_set::after{ margin:5px 0 0;}


.filter_wrap ul{ display: none; position: absolute; right:5px; top:35px; width:95px; /*height:150px;*/ border-radius:5px; background-color:#434a54; font-size:14px;}
.filter_wrap li:first-child{ position: relative;}
.filter_wrap li:first-child::before{ position: absolute; top:-4px; left:45px; display: block; content:" "; width:8px; height:8px; -webkit-transform: rotate(45deg); transform: rotate(45deg);
background-color:#434a54; overflow: hidden; }

/*.filter_wrap > a{display:block; color:#373737; padding:0 35px 0 20px;}*/
.filter_wrap li{ text-align: center; height:50px;}
.filter_wrap li a{ color:#fff; line-height:50px; display:block;}
.filter_wrap .selected{ background-color:#393f48; position: relative; border-radius:5px;}
.filter_wrap .selected::before{ position: absolute; top:20px; left:10px; display: block; content:" "; width:12px; height:12px; background-position:-10px 0;}
.filter_wrap li:last-child .selected::before{left:6px;}

.set_wrap{ float: left; position: relative;}
.hide_layer .category_title::after{-webkit-transform: rotate(180deg); transform: rotate(180deg);}
.set_wrap .no_set{float: left; margin-right:5px;}
.no_set .category_title::after{ display: none;}

.main_wrap{background-color:#f6f6f6;padding-top:10px;}
/*.main_wrap .title_wrap{ margin-top:-5px;}*/

.main_wrap .unit_wrap{ background-color:#fff; padding:10px; margin:0 5px 10px; border:1px solid #ebebeb; border-radius:5px;}
.main_wrap .unit_wrap a{ color:#373737; }
.unit_wrap .content_detail {line-height:25px; font-size:16px; margin-bottom:5px;word-wrap:break-word; word-break:break-all;}
.unit_wrap .content_source{ font-size:12px; color:#8c8c8c;}
/*.content_source .num{margin-right:25px;}
.content_source .time{margin-right:25px;}*/
.content_detail .phone{ margin-right:4px;}
.content_detail .phone::before{ display:inline-block; margin-right:3px; vertical-align:0px;  content:" "; width:8px; height:12px; background-position:-23px 0; }
.content_source .icoScore{ vertical-align:1px;}
.content_source .icoUrgent{ vertical-align:-3px; margin-left:5px;}

.category_list_wrap{position: absolute; top:83px; left:0px; width:100%; background-color:#fcfcfc;}
.category_list{/*margin:0 10px 0 15px; margin:0 15px;*/}
.category_list > li{ min-height:44px; border-bottom:1px solid #eaeaea;}
.category_list > li:last-child{border-bottom:0 none;}
.category_list > li a{ display:block;line-height:44px; font-size:16px; color:#545454;}
.category_list > li a::before{ float:left; display:block; width:20px; height:20px; content:" "; /*margin:12px 15px 0 10px;*/ margin:12px 15px 0 25px;}
.category_list > li a::after{float:right; display:block; width:8px; height:15px; content:" "; /*margin:15px 15px 0 0;*/ margin:15px 30px 0 0; background-position:-35px 0;}

.category_list .cate_all::before{ background-position:-350px 0; width:21px; margin-top:17px;}
.category_list .cate_computer::before{ background-position:0 0; margin-top:15px;}
.category_list .cate_life::before{background-position:-25px 0;}
.category_list .cate_qq::before{background-position:-50px 0;}
.category_list .cate_game::before{background-position:-75px 0;}
.category_list .cate_sports::before{background-position:-100px 0;}
.category_list .cate_amusement::before{background-position:-125px 0;}
.category_list .cate_leisure::before{background-position:-150px 0;}
.category_list .cate_art::before{background-position:-175px 0;}
.category_list .cate_education::before{background-position:-200px 0;}
.category_list .cate_society::before{background-position:-225px 0;}
.category_list .cate_health::before{background-position:-250px 0;}
.category_list .cate_commerce::before{background-position:-275px 0;}
.category_list .cate_feeling::before{background-position:-300px 0;}
.category_list .cate_region::before{background-position:-325px 0;}

.category_list .cate_qq::before{ margin-top:13px;}
.category_list .cate_leisure::before{ margin-top:15px;}
.category_list .cate_region::before{margin-top:10px;}

.category_list .category_sub_list{display:none; background-color:#ededed;}
.category_sub_list > li{min-height:44px; border-bottom:1px solid #dadada;}
.category_sub_list > li:last-child{border-bottom:0 none;}
.category_sub_list > li a{display:block;/* padding-left:55px;*/ padding-left:70px; line-height:44px; font-size:16px; color:#545454;}
.category_sub_list > li a::before{ display:none;}
.category_sub_list > li a::after{float:right; display:block; width:8px; height:15px; content:" "; /*margin:15px 15px 0 0;*/ margin:15px 30px 0 0; background-position:-35px 0;}
.category_sub_list .no_tertiary a::after{ display: none;}

.category_list .open_sub::after,
.category_tertiary_list > .open_tertiary::after
{ -webkit-transform:rotate(90deg); transform:rotate(90deg)}

.category_list .category_tertiary_list{display:none; background-color:#e2e2e2;}
.category_tertiary_list li{min-height:44px; border-bottom:1px solid #dadada;}
.category_tertiary_list li:last-child{border-bottom:0 none;}
.category_tertiary_list li a{display:block; /*padding-left:65px;*/ padding-left:80px; line-height:44px; font-size:16px; color:#545454;}
.category_tertiary_list li a::before{ display:none;}
.category_tertiary_list li a::after{display:none;}

.category_sub_list a.selected::after,
.category_list .selected::after{ display:block; width:18px; height:18px; /*margin:14px 10px 0 0;*/
margin:14px 25px 0 0;
 background-position:-45px 0;-webkit-transform:rotate(0); transform:rotate(0)}

/*设置擅长*/
.adept_wrapper{ display:none; position: absolute; left:0px; top:35px; /*overflow: hidden;*/}
.adept_wrapper::before{position: absolute; top:-5px; /*left:55px;*/ left:12px; display: block; content:" ";
border-bottom:6px solid #434a54;
border-top:0 none;
border-left:6px solid transparent;
border-right:6px solid transparent;
}

.adept_at_wrap{background-color:#434a54; font-size:14px; height:215px; overflow: hidden; border-radius:5px;
}

/*.adept_at{border-radius:5px;}*/
.adept_at{ width:115px; height:215px; border-radius:5px; text-align: center; overflow: auto;
-webkit-transform: translateZ(0);
 transform: translateZ(0);
}
.adept_at h2{ color:#67c4ff; margin-top:10px; border-radius:5px;}
.adept_at h2::before{display:inline-block; width:12px; height:12px; content:" "; background-position:0 -20px; margin-right:3px; vertical-align:-1px;}
.adept_at h3{color:#1c1e22; font-size:12px; height:30px;}
.adept_at h3:first-child{margin-top:10px;}
.adept_at h3 span{ padding:0 5px; background-color:#434a54;}
.adept_at h3::after{ display: block; content:" "; height:1px; background-color:#2e333a;  margin:-17px 5px 0;}
.adept_at li{height:35px;}
.adept_at li a{ color:#fff; line-height:35px; display:block;}
.adept_at li .selected{ /*background-color:#393f48; */opacity:0.8; position: relative; border-radius:5px;}
.adept_at li .selected::before{ position: absolute; top:12px; left:10px; display: block; content:" "; width:12px; height:12px; background-position:-10px 0;}
.load_more{ margin:20px 10px; background-color:#e9e9e9; border-radius:6px; display: block; height:35px; line-height:35px; text-align: center; font-size:15px; color:#2b2b2b;}
.load_more::after{ content:" "; display: inline-block; width:11px; height:7px; background-position:-10px -12px; margin-left:5px; vertical-align:1px;}

.set_switch{ width:196px; height:25px; padding:1px; margin:15px auto; border:1px solid #269f34; border-radius:4px; }
.set_switch a{float: left; display:block; width:98px; height:25px; text-align: center; line-height:25px; font-size:14px; color:#212121;}
.set_switch .current{ background-color:#19ae0e; color:#fff; border-radius:2px;}
.set_main_wrap{ /*margin:0 23px;*/ margin:0 0 0 23px;}
.set_main_wrap .title{ font-size:15px; color:#373737; margin-bottom:17px;}
.set_main_wrap .title::before{ display: block; float: left; content:" "; width:4px; height:12px; background-color: #1399ee; margin:3px 5px 0 -10px;}

.set_item_list{ -webkit-box-sizing: border-box; box-sizing: border-box;}
.set_item_list .set_item{ position: relative; padding:0 14px 20px 0;}
.set_item_list li{float: left; /*width: 50%;*/}
.set_item_list li span{ display: block; border:1px solid #d3d3d3; border-radius:3px;/* min-width:130px;*/ height:28px; padding:0 10px; line-height:28px; text-align: center;background-color:#f7f7f7; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.set_item_list .null{ border:1px dashed #d3d3d3; background-color:#f6f6f6;}


.set_main_wrap .btn_close{position: absolute; top:0px; right:0px; display: block; width:18px; height:18px; border-radius:18px; background-color:#5295d8; margin:-10px 5px 0 0; }
.set_main_wrap .btn_close::after{ margin:4px auto 0; display: block; content:" "; width:10px; height:10px; background:url(http://cache.soso.com/mobile/wenwen/img/sgww_ico_close.png); background-size:10px 10px;}
.set_main_wrap .set_category_list .btn_close{ margin: -10px -10px 0 0}

.set_category_list{ margin:0px 20px 20px 0px; }
.set_category_list li{position: relative; margin-bottom:20px;}
.set_category_list li span{ display: block; padding-left:10px; border:1px solid #d3d3d3; border-radius:3px; height:28px; line-height:28px; background-color:#f7f7f7;}
.set_category_list .null{ border:1px dashed #d3d3d3; background-color:#f6f6f6;}


.set_main_wrap h3{font-size:15px;color:#373737; margin:5px 0 8px;}
/*.set_main_wrap .rule{ font-size:12px;margin-bottom:22px; color:#8c8c8c;}*/

.sub_title_wrap{ margin:30px 0 10px;}
.sub_title_wrap h3{ float: left; font-size:15px; margin:0 10px 0 0; color:#373737;}
.sub_title_wrap .rule{font-size:12px;color:#8c8c8c;}

.set_category_wrap{/* min-width:30px; */margin:0 20px 0px 0;}
.set_category_wrap .category_wrap{ position: relative; float: left; /*min-width:80px; */width:100%; height:30px; margin-bottom:20px;}
.category_wrap select{
	box-sizing:border-box;
	background-color:#ededed; 
	border-radius:4px; 
	border:1px solid #ededed;
	width:100%;
	-webkit-appearance:none;
	line-height:30px;
	/*text-align: center;*/
	font-size:14px;
	color:#3c3c3c;
	text-indent:10px;
}

/*.category_wrap::before{ position:absolute; display:block; width:12px; height:1px; background-color:#cbcbcb; content:" "; top:17px; left:-15px;}*/
.set_category_wrap .category_wrap:first-child::before{ display: none;}
.category_wrap::after{
	position:absolute;
	z-index:2;
	/*top:16px;*/
	top:18px;
	right:10px;
	display:block;
	content:'';
	width:9px;
	height:5px;
	background-position:0 -12px;
}
.set_category_wrap .select select{ border:1px solid #1e95f0;}
.set_category_wrap .selected::after{display:none;}
.set_category_wrap .selected select{ text-indent:5px;}
.set_category_wrap .disable select{ color:#a1a1a1;}

.set_main_wrap .btn_add{ display:block; margin:0px 20px 10px 0; /*width:140px; */height:35px;  background-color:#5295d8; line-height:35px; font-size:17px; color:#fff; border-radius:4px; text-align: center;}
.set_main_wrap .disabled{ background-color:#c2c2c2;}

/*设置擅长关键词*/
.add_keyword_wrap{ margin-bottom:10px; -webkit-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; -webkit-box-orient: horizontal;}

.add_keyword_wrap .keyword_input{ display: block; height:33px; /*line-height:28px;*/ line-height:normal; background-color:#f7f7f7; text-indent:10px; border-radius:3px;border: 1px solid #d3d3d3; margin-right:6px; font-size:15px; /*height:15px; padding:6px 0;*/ -webkit-box-flex:1;
}

.add_keyword_wrap .btn_add{ width:76px; height:35px; line-height: 35px; margin:0px 14px 0 0;}

.add_keyword_wrap .disabled{ background-color:#c2c2c2;}

.loading_tip{ text-align: center; color:#8c8c8c; font-size:14px; margin-top:33px; }

.content_list_wrap{/* min-height:300px;*/ /*padding-top:10px;*/ /*background-color: #f00;*/}

.main_wrap .fix_top{ position:fixed; top:0px; left:0px; margin-top:0px; width:100%;}


.fix_top .filter_wrap{ margin-right:15px;}

/* header reset*/
.default_wrap .mod_btn{ position:absolute; top:9px; right:8px;  display: block; width:45px; height:25px; border-radius:3px; text-align: center; line-height:25px; color:#fff; font-size:15px; background-color:#5295d8;}
.default_wrap .index{ position:absolute;  top:0px; right:10px; display:block; width:34px; height:42px;}
.default_wrap .index::before{ content:" "; float: left; width:23px; height:21px; background-position:-35px -20px; margin:11px 0 0 10px;}